h1 {
    color: rgb(7, 3, 12);
    margin-right: 50px;
}

/* * {
    border: solid;
} */
.header *{
    border:solid;
}
.header{
    background-color: rgb(228, 84, 128);
    display:flex
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
};

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
.menu{
    margin-right:30px ;
}

.menu a{
    margin-left:15px;
}
p,h2{
    
    text-align: center;
border-top: rgb(181, 140, 208);
border:solid
}

a:link {
    color:#cc78e1
}
a:visited{
    color:#9400e9
}
.item{
position:relative
}
.item p{
position: absolute;
top :50%;
left:50%;
transform: translate(-50%,-50%);
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.33;
}
body{
    border:solid;
    border-width: 1cm;
    border-color: rgb(255, 90, 145);
   background-image:url(https://t3.ftcdn.net/jpg/02/79/97/78/360_F_279977812_ehGH2r0VapZhse6nv3rohimt4HsIm6SH.jpg);
}